@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>

<address>
    Някъде на изток<br />
    Малко на запад<br />
    <abbr title="Phone">Т:</abbr>
    ХХХ-ХХ-ХХХ
</address>

<address>
    <strong>За контакти:</strong>   <a href="mailto:dodstes+mtc@gmail.com">dodstes+mtc@gmail.com</a><br />
</address>