body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.innercheckboxlist {
    left: 100px;
}

.label-panel {
    color: #428bca;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings' !important;
    content: "\e013" !important;
}

input[type="checkbox"].styled:checked label:after,
input[type="radio"].styled:checked label:after,
.checkbox label:after {
    padding-left: 4px !important;
    padding-top: 2px !important;
    font-size: 9px !important;
}

/*Task styles*/
.locked {
  border-color: #bce8f1;
    min-height: 150px;
}
.locked > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.locked > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.locked > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.locked > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.locked-icon:before {
  content: "\e033";
}

.locked-icon {
    color: #428bca;
  font-size: 1.2em;
    position: absolute;
    right: 25px;
    top: 10px;
}
.inprogress {
  border-color: #faebcc;
   min-height: 150px;
}
.inprogress > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.inprogress > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.inprogress > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.inprogress > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.inprogress-icon:before {
  content: "\e072";
}
.inprogress-icon {
  color: #f0ad4e;
  font-size: 1.2em;
    position: absolute;
    right: 25px;
    top: 10px;
}
.todo {
  border-color: #337ab7;
   min-height: 150px;
}
.todo > .panel-heading {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.todo > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.todo > .panel-heading .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.todo > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.todo-icon:before {
  content: "\e162";
}

.todo-icon {
  color: white;
  font-size: 1.2em;
    position: absolute;
    right: 25px;
    top: 10px;
}
.expired {
  border-color: #ebccd1;
   min-height: 150px;
}
.expired > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.expired > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.expired > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.expired > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}
.expired-icon:before {
  content: "\e104";
}
.expired-icon {
  color: #fa8072; 
  font-size: 1.2em;
    position: absolute;
    right: 25px;
    top: 10px;
}
.done {
  border-color: #d6e9c6;
   min-height: 150px;
}
.done > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.done > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.done > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.done > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.done-icon:before {
  content: "\e013";
}
.done-icon {
  color: #5cb85c; 
  font-size: 1.2em;
   position: absolute;
    right: 25px;
    top: 10px;
}

/*other styles*/
.panel-heading
{
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}

.current-progress {
    background-color: #d6e9c6;
    position: absolute;
    right: 25px;
    bottom: 30px;
}
.badge-100 {
    background-color: #5cb85c;
}
.top-buffer { 
    margin-top:10px; 
}
.info-icon {
    font-size: 1.5em; 
    color: #428bca;
}