@{
    ViewBag.Title = "Начало";
}

<div class="jumbotron">
    <h1>EDC</h1>
    <p class="lead">EDC е софтуерна система, подпомагаща писането на по-сложна документация, като позволява генерирането на задачи, базирани на основната структура на очаквания документ.</p>
    <p>@Html.ActionLink("Започни писането \u00BB", "Index", "Document", new object { }, new { @class = "btn btn-primary btn-lg" })</p>
</div>