@{
    ViewBag.Title = "Home Page";
}
<div class="span11">
    <h2>Demo</h2>
    <p>Basic Demo Example.</p>
    <div id="rootwizard">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav nav-pills">
                        <li class=""><a href="#tab1" data-toggle="tab">First</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">Second</a></li>
                        <li class=""><a href="#tab3" data-toggle="tab">Third</a></li>
                        <li class=""><a href="#tab4" data-toggle="tab">Forth</a></li>
                        <li class="active"><a href="#tab5" data-toggle="tab">Fifth</a></li>
                        <li><a href="#tab6" data-toggle="tab">Sixth</a></li>
                        <li><a href="#tab7" data-toggle="tab">Seventh</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="bar" class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
        </div>
        <div class="tab-content">
            <div class="tab-pane" id="tab1">
                1
            </div>
            <div class="tab-pane" id="tab2">
                2
            </div>
            <div class="tab-pane" id="tab3">
                3
            </div>
            <div class="tab-pane" id="tab4">
                4
            </div>
            <div class="tab-pane active" id="tab5">
                5
            </div>
            <div class="tab-pane" id="tab6">
                6
            </div>
            <div class="tab-pane" id="tab7">
                7
            </div>
            <ul class="pager wizard">
                <li class="previous first" style="display:none;"><a href="javascript:;">First</a></li>
                <li class="previous"><a href="javascript:;">Previous</a></li>
                <li class="next last" style="display:none;"><a href="javascript:;">Last</a></li>
                <li class="next"><a href="javascript:;">Next</a></li>
            </ul>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/common")
}